.jumbotron{
    /* background-image: url("/assets/AoT.jpeg"); */
    position: static;
    background-repeat: no-repeat;
    margin: 0vw;
    height: 100vw;
    width: 100vw;
    color: white;
    background-color: black;
}

h1{
    text-align: center;
}