<div style="height: 100%; width: 100%;">

  <div class=" container-fluid row" style="height: 51vw; width: 100%;">
    <div class="col col-sm-6" style="background-color: #178E8A; text-align: center; vertical-align: middle;">
      <h1 style="font-size: 4vw;"><b style="color: white;">Arnav</b> Ajay</h1>
      <h2 style="font-size: 4vw;">Software <b style="color: white;">Developer</b></h2>
    </div>

    <div class="col col-sm-6" style="background-color: black; text-align: center;">
      <img src="/assets/myPic.png" style="bottom: 20vw;">
    </div>
  </div>

</div>

