<nav class="navbar header">
  
  <div class="navbar-header mr-auto">

    <a class="navbar-brand example-ripple-container mat-elevation-z4"
    matRipple [matRippleCentered]="centered"
    [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded"
    [matRippleRadius]="radius" [matRippleColor]="color" routerLink="home">Home</a>
   
    <a class="navbar-brand example-ripple-container mat-elevation-z4"
    matRipple [matRippleCentered]="centered"
    [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded"
    [matRippleRadius]="radius" [matRippleColor]="color" routerLink="graphics">Graphics</a>
   
    <a class="navbar-brand example-ripple-container mat-elevation-z4"
    matRipple [matRippleCentered]="centered"
    [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded"
    [matRippleRadius]="radius" [matRippleColor]="color" routerLink="codes">Codes</a>
  
  </div>

</nav>