.example-ripple-container {
  cursor: pointer;
  text-align: center;

  /* width: 300px;
  height: 300px;
  line-height: 300px; */

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.example-card {
  max-width: 45%;
    color: white;
  }
  
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
mat-card-subtitle{
  color: white;
}

mat-card {
  margin: 10px;
  background-color: black;
}

mat-card:hover{
  background-color: grey;
  color: black;
}

button:hover{
  background-color: black;
  color: white;
}